<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlexFlow Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')}}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navBar">
      <h1 class="logoName">FlexFlow</h1>
      <div class="navBarButtons">
        <button class="home-button">Home</button>
        <button class="workout-plans">Workout Plans</button>
        <button class="exercise-library">Exercises</button>
        <button class="meal-plans">Meal Plans</button>
        <button class="account-creation">Profile</button>
      </div>
    </nav>
    {% block body %}{% endblock %}
    <footer>
      <p>&copy; 2024 Flex-Flow</p>
    </footer>
  </body>
</html>
