:root {
    --lightblue: rgb(0, 153, 255);
    --testcolor: rgb(97, 97, 97);
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /* grows to push down footer */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

button {
    cursor: pointer;
}

.logoName {
    margin-left: 1vw; /* Add some spacing for the logo */
    font-weight: bold;
    justify-self: start;
}

.navBar {
    width: 100vw;
    max-height: 10vh;
    display: grid;
    grid-template-rows: repeat(1, 10vh);
    grid-template-columns: 1fr 2fr;
    position: sticky;
    /* remains at the top even when scrolling */
    font-size: 1.6rem;
    align-items: center;
    background-color: var(--lightblue);
    color: whitesmoke;

}

.navBarButtons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2vw;
    justify-self: end; /* Align buttons to the right */
    margin-right: 1vw;
}

.navBarButtons button {
    border: none;
    background: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: inherit;
    font-weight: bold;
    transition: transform 2s ease;
}

.navBarButtons button:hover {
    transform: scale(1.2);
}

footer {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 1.5vw;
    color: whitesmoke;
    background-color: var(--testcolor);
}

